name: Check PR Source Branch

on:
  pull_request:
    branches:
      - main

jobs:
  check_source_branch:
    runs-on: ubuntu-latest
    steps:
      - name: Verify source branch
        if: github.base_ref == 'main' && github.head_ref != 'develop'
        run: |
          echo "ERROR: Pull Requests targeting the 'main' branch must originate from the 'develop' branch."
          echo "Current source branch is: ${{ github.head_ref }}"
          exit 1
